body {
  margin: 0;
}

#home-page {
  height: 100%;
  display: flex;
  overflow: hidden;
}

#header-container {
  height: 215px;
  background-image: url("forest.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

#menu-container {
  height: 100%;
  width: 320px;
  background: #151a1e;
}

#photo-container {
  display: flex;
  align-items: center;
}
#profile-photo {
  width: auto;
  border-radius: 50%;
  height: 12rem;
  margin: 20px;
}

#buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

#content-container {
  height: 100%;
  width: 100%;
  background: #2a3537;
  display: flex;
  flex-direction: column;
}
