body {
  margin: 0;
}

#home-page {
  height: 100%;
  display: flex;
  overflow: hidden;
}

#header-container {
  height: 165px;
  background-image: url("forest.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  margin-bottom: 25px;
}

#home-content-container {
  display: flex;
  flex-direction: row;
}

#introduction-container {
  max-width: 400px;
  margin: 20px 50px 0px 30px;
  font-size: large;
  color: whitesmoke;
}

#aboutme-container {
  margin: 40px 50px 0px 40px;
  font-size: 35px;
  color: whitesmoke;
}

#hello-container {
  font-family: "Montserrat";
  font-size: 40px;
  margin-bottom: 20px;
  margin-left: 20px;
  font-weight: bold;
  color: whitesmoke;
}

#name {
  font-family: "Montserrat";
  font-size: 40px;
  font-weight: bold;
  margin: 20px;
}

#position {
  font-size: 35px;
  margin: 20px;
  font-family: "Cookie", cursive;
}

#menu-container {
  height: 100%;
  width: 320px;
  background: #151a1e;
}

#photo-container {
  display: flex;
  align-items: center;
}
#profile-photo {
  width: auto;
  border-radius: 50%;
  height: 12rem;
  margin: 20px;
}

#buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

#content-container {
  height: 100%;
  width: 100%;
  background: #2a3537;
  display: flex;
  flex-direction: column;
}

#studies-container {
  font-family: "Montserrat";
  margin-left: 20px;
  max-width: 90%;
}

#etti-container,
#itschool-container,
#colegium-container {
  color: whitesmoke;
  font-weight: bold;
  margin-top: 30px;
  font-size: large;
}

#itschoolsection-container,
#ettiSection-container,
#colegiumSection-container {
  font-size: small;
  color: antiquewhite;
}

#schoolItinfo-container,
#ettiInfo-container {
  color: #d6d6d6;
  margin-bottom: 30px;
}

#experience-content {
  display: flex;
  flex-direction: row;
  font-family: "Montserrat";
  margin-left: 30px;
}

#professional-history,
#technical-exp {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  color: whitesmoke;
  font-weight: bold;
  font-size: larger;
}

#technical-exp {
  margin-left: 220px;
}

#professional-history p,
#technical-exp p {
  color: white;
  font-weight: bold;
  font-size: medium;
  margin-top: 20px;
}

#professional-history span,
#technical-exp span {
  font-size: small;
  color: antiquewhite;
  font-weight: normal;
}

#hobbies-content {
  display: flex;
  flex-direction: row;
}

#hobbie1-container,
#hobbie2-container,
#hobbie3-container,
#hobbie4-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: "Montserrat";
  color: whitesmoke;
  font-weight: bold;
  font-size: larger;
  margin: 15px;
  margin-top: 30px;
}

#contact-title {
  font-family: "Montserrat";
  color: whitesmoke;
  font-weight: bold;
  font-size: 30px;
  margin: 20px;
  margin-left: 30px;
}

#contact-title p {
  font-size: small;
  color: antiquewhite;
  font-weight: normal;
  margin-top: 20px;
}

#contact-title span {
  color: white;
  font-weight: bold;
  font-size: medium;
}

#contact-title a {
  color: white;
  font-weight: bold;
  font-size: medium;
  text-decoration: none;
}
